.wp-block-lazyblock-advantages {
    max-width: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;

    & .lzb-content-title {
        display: none;
    }
}

.bf {
    &-advantages {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        gap: vw(20px, 430px);

        @media screen and (min-width: 526px) {
            width: vw(180px, 744px);
            gap: vw(20px, 744px);
            height: vw(280px, 744px);
        }
        
        @media screen and (min-width: 921px) {
            width: vw(180px);
            gap: vw(20px);
            height: vw(280px);
        }
        
        @media screen and (min-width: 1440px) {
            width: 180px;
            height: 280px;
            gap: 20px;
        }

        &_img {
            vertical-align: bottom;

            width: vw(180px, 430px);
            height: vw(132px, 430px);

            @media screen and (min-width: 526px) {
                width: vw(180px, 744px);
                height: vw(132px, 744px);
            }
            
            @media screen and (min-width: 921px) {
                width: vw(180px);
                height: vw(132px);
            }
            
            @media screen and (min-width: 1440px) {
                width: 180px;
                height: 132px;
            }
        }

        &_text {
            text-align: center;
            font-family: 'Roboto Flex', sans-serif;
            color: #101010;
            font-weight: 700;
            text-transform: uppercase;
            width: min-content;

            font-size: vw(24px, 430px);

            @media screen and (min-width: 526px) {
                font-size: vw(24px, 744px);
            }
            
            @media screen and (min-width: 921px) {
                font-size: vw(24px);
            }
            
            @media screen and (min-width: 1440px) {
                font-size: 24px;
            }
        }
    }
}