.wp-block-lazyblock-franchiz-advantages {
    max-width: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;

    & .lzb-content-title {
        display: none;
    }
}

.bf {
    &-franchizeAdvantages {
        display: flex;
        flex-direction: column;

        gap: vw(28px, 430px);

        @media screen and (min-width: 526px) {
            gap: vw(28px, 744px);
        }
        
        @media screen and (min-width: 921px) {
            gap: vw(52px);
        }
        
        @media screen and (min-width: 1440px) {
            gap: 52px;
        }
        
        &_text {
            font-family: 'Roboto Flex', sans-serif;
            color: #101010;

            font-size: vw(24px, 430px);

            @media screen and (min-width: 526px) {
                font-size: vw(24px, 744px);
            }
            
            @media screen and (min-width: 921px) {
                font-size: vw(24px);
                width: vw(840px);
            }
            
            @media screen and (min-width: 1440px) {
                font-size: 24px;
                width: 840px;
            }
        }
        
        &_list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            gap: vw(32px, 430px);

            @media screen and (min-width: 526px) {
                gap: vw(32px, 744px);
            }
            
            @media screen and (min-width: 921px) {
                gap: vw(32px);
            }
            
            @media screen and (min-width: 1440px) {
                gap: 32px;
            }
        }
    }

    &-franchizeAdvantage {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: vw(287px, 430px);
        gap: vw(16px, 430px);

        @media screen and (min-width: 526px) {
            width: vw(287px, 744px);
            gap: vw(16px, 744px);
        }
        
        @media screen and (min-width: 921px) {    
            width: vw(287px);
            gap: vw(16px);
        }
        
        @media screen and (min-width: 1440px) {
            width: 287px;
            gap: 16px;
        }
        
        &_img {
            vertical-align: bottom;
            object-fit: contain;
            
            width: vw(180px, 430px);
            height: vw(132px, 430px);

            @media screen and (min-width: 526px) {
                width: vw(180px, 744px);
                height: vw(132px, 744px);
            }
            
            @media screen and (min-width: 921px) {
                width: vw(180px);
                height: vw(132px);
            }
            
            @media screen and (min-width: 1440px) {
                width: 180px;
                height: 132px;
            }
        }
        
        &_title {
            font-family: 'Roboto Flex', sans-serif;
            color: #101010;
            font-weight: 600;
            text-align: center;

            font-size: vw(24px, 430px);

            @media screen and (min-width: 526px) {
                font-size: vw(24px, 744px);
            }
            
            @media screen and (min-width: 921px) {
                font-size: vw(24px);
            }
            
            @media screen and (min-width: 1440px) {
                font-size: 24px;
            }
        }
        
        &_text {
            font-family: 'Roboto Flex', sans-serif;
            color: #101010;
            text-align: center;
            
            font-size: vw(16px, 430px);

            @media screen and (min-width: 526px) {
                font-size: vw(16px, 744px);
            }
            
            @media screen and (min-width: 921px) {
                font-size: vw(16px);
            }
            
            @media screen and (min-width: 1440px) {
                font-size: 16px;
            }
        }
    }
}