.wp-block-lazyblock-green-card {
    max-width: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;

    & .lzb-content-title {
        display: none;
    }
}

.bf {
    &-greenCardPrice {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: vw(56px, 430px);

        @media screen and (min-width: 526px) {
            align-items: flex-start;
        
            gap: vw(56px, 744px);
        }
        
        @media screen and (min-width: 921px) {
            gap: vw(48px);
        }
        
        @media screen and (min-width: 1440px) {
            gap: 48px;
        }
    }

    &-greenCard {
        background: #C4FF63;
        font-family: 'Roboto Flex', sans-serif;
        color: #E056BA;
        font-weight: 600;
        margin: 0px auto;

        border-radius: vw(8px, 430px);
        padding: vw(12px, 430px) vw(32px, 430px);
        font-size: vw(32px, 430px);
        line-height: vw(52px, 430px);
        width: vw(350px, 430px);

        @media screen and (min-width: 526px) {
            width: fit-content;
            margin: 0px;

            border-radius: vw(8px, 744px);
            padding: vw(12px, 744px) vw(32px, 744px);
            font-size: vw(32px, 744px);
            line-height: vw(52px, 744px);
        }
        
        @media screen and (min-width: 921px) {
            border-radius: vw(8px);
            padding: vw(12px) vw(32px);
            font-size: vw(32px);
            line-height: vw(52px);
        }
        
        @media screen and (min-width: 1440px) {
            border-radius: 8px;
            padding: 12px 32px;
            font-size: 32px;
            line-height: 52px;
        }

        &_button {
            width: vw(260px, 430px);

            @media screen and (min-width: 526px) {
                width: vw(260px, 744px);
            }
            
            @media screen and (min-width: 921px) {
                width: vw(232px);
            }
            
            @media screen and (min-width: 1440px) {
                width: 232px;
            }
        }
    }
}