.wp-block-lazyblock-section {
    max-width: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;

    & .lzb-content-title {
        display: none;
    }
}

.bf {
    &-section {
        margin: 0px auto;
        position: relative;

        width: vw(388px, 430px);
        margin: vw(32px, 430px) auto vw(64px, 430px);

        @media screen and (min-width: 526px) {
            width: vw(702px, 744px);
            margin: vw(32px, 744px) auto vw(64px, 744px);
        }
        
        @media screen and (min-width: 921px) {
            width: vw(1316px);
            margin: vw(64px) auto vw(100px);
        }
        
        @media screen and (min-width: 1440px) {
            width: 1316px;
            margin: 64px auto 100px;
        }

        &_title {
            font-family: 'Roboto Flex', sans-serif;
            font-weight: 600;
            background: #E056BA;
            color: #ffffff;

            width: max-content;

            max-width: calc(80% + #{vw(248px, 430px)});
            margin-bottom: vw(18px, 430px);
            min-height: vw(40px, 430px);
            font-size: vw(32px, 430px);
            border-radius: vw(200px, 430px);
            padding-left: vw(200px, 430px);
            padding-right: vw(32px, 430px);
            transform: translateX(vw(-200px, 430px));

            @media screen and (min-width: 526px) {
                max-width: calc(80% + #{vw(248px, 744px)});
                margin-bottom: vw(18px, 744px);
                min-height: vw(40px, 744px);
                font-size: vw(32px, 744px);
                border-radius: vw(200px, 744px);
                padding-left: vw(200px, 744px);
                padding-right: vw(32px, 744px);
                transform: translateX(vw(-200px, 744px));
            }
            
            @media screen and (min-width: 921px) {
                max-width: calc(80% + #{vw(296px)});
                margin-bottom: vw(32px);
                min-height: vw(64px);
                font-size: vw(48px);
                border-radius: vw(200px);
                padding-left: vw(200px);
                padding-right: vw(96px);
                transform: translateX(vw(-200px));
            }
            
            @media screen and (min-width: 1440px) {
                margin-bottom: 32px;
                min-height: 64px;
                font-size: 48px;
                border-radius: 200px;
                padding-left: 200px;
                padding-right: 96px;
                transform: translateX(-200px);
            }

            &__right {
                
                @media screen and (min-width: 921px) {
                    margin-left: auto;
                    padding-left: vw(96px);
                    padding-right: vw(200px);
                    transform: translateX(vw(200px));
                }
                
                @media screen and (min-width: 1440px) {
                    padding-left: 96px;
                    padding-right: 200px;
                    transform: translateX(200px);
                }
            }
        }

        &_link {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: 'Roboto Flex', sans-serif;
            font-weight: 500;
            border: solid #C4FF63;
            color: #FF92E0;
            background: #ffffff;

            right: 0px;
            
            top: vw(5px, 430px);
            height: vw(28px, 430px);
            padding: 0px vw(12px, 430px);
            border-radius: vw(14px, 430px);
            border-width: vw(1.2px, 430px);
            font-size: vw(16px, 430px);

            @media screen and (min-width: 526px) {
                top: vw(5px, 744px);
                height: vw(28px, 744px);
                padding: 0px vw(12px, 744px);
                border-radius: vw(14px, 744px);
                border-width: vw(1.2px, 744px);
                font-size: vw(20px, 744px);
            }
            
            @media screen and (min-width: 921px) {
                top: vw(14px);
                height: vw(48px);
                padding: 0px vw(28px);
                border-radius: vw(24px);
                border-width: vw(2px);
                font-size: vw(34px);
            }
            
            @media screen and (min-width: 1440px) {
                top: 14px;
                height: 48px;
                padding: 0px 28px;
                border-radius: 24px;
                border-width: 2px;
                font-size: 34px;
            }
        }

        &_content, &_content .lazyblock-inner-blocks{
            width: 100%;
            display: flex;
            flex-direction: column;

            gap: vw(64px, 430px);

            @media screen and (min-width: 526px) {
                gap: vw(64px, 744px);
            }

            @media screen and (min-width: 921px) {
                gap: vw(100px);
            }

            @media screen and (min-width: 1440px) {
                gap: 100px;
            }
        }

        &_content > .lazyblock-inner-blocks > ul{

            padding-left: vw(28px, 430px);

            @media screen and (min-width: 526px) {
                padding-left: vw(28px, 744px);
            }
            
            @media screen and (min-width: 921px) {
                padding-left: vw(20px);
            }
            
            @media screen and (min-width: 1440px) {
                padding-left: 20px;
            }
        }

        &_content > .lazyblock-inner-blocks > ul > li{
            font-family: 'Roboto Flex', sans-serif;
            line-height: 140%;

            font-size: vw(24px, 430px);
            margin-bottom: vw(8px, 430px);

            @media screen and (min-width: 526px) {
                font-size: vw(24px, 744px);
                margin-bottom: vw(8px, 744px);
            }
            
            @media screen and (min-width: 921px) {
                font-size: vw(24px);
                margin-bottom: vw(8px);
            }
            
            @media screen and (min-width: 1440px) {
                font-size: 24px;
                margin-bottom: 8px;
            }

            &:last-child {
                margin: 0px;
            }
        }
    }
}